.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 7vmax;
}

@media screen and (max-width: 600px) {
    .sidebar {
        position: relative;
        top: -90vmax;
        margin-right: 2vmax;
    }
}