.weatherCard > div {
	background: linear-gradient(180deg, #464646 0%, #1d2540 100%);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	padding: 0.5vmax;
}

.top {
	display: flex;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.date {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 22px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.top {
		justify-content: space-between;
		padding: 0 2vmax;
	}
}